<launch>
	<arg name="fixed_frame" default="base_link" />

	<!-- ladar pkg, see https://github.com/SICKAG/sick_scan -->
	<include file="$(find sick_scan)/launch/sick_lms_1xx.launch" >
		<arg name="hostname" default="169.254.50.49" />
		<param name="intensity" type="bool" value="true" />
	</include>

	<!-- Control motor and Read position -->
	<node name="motor" pkg="rotary_scan" type="motor.py" />
	<!-- ROS original package providing service of assembling cloud and tf -->

	<node name="cloud_assembler_server" pkg="laser_assembler" type="point_cloud2_assembler">
		<param name="fixed_frame" type="string" value="$(arg fixed_frame)" />
	</node>

	<!-- Request service and Publish result -->
	<node name="cloud_assembler_request" pkg="rotary_scan" type="assemble_request.py" />
	<param name="scan_over" type="bool" value="false" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rotary_scan)/rviz/cloud_assembler.rviz" />
</launch>
